<h3>Agosto 2021</h3>

<p>En agosto sigo haciendo pequeñas mejoras en lá página mi aplicación del Curriculum</p>

<p>He empezado otra aplicación de empresa ficticia, con MEAN de nuevo. Esta vez implementaré un login, y será una aplicación de como la haría si fuera freelance. Pronto tendré una versión de producción</p>

<p>Respecto a los cursos que voy haciendo de forma paralela, estoy con uno de Javascript moderno y he retomado Vue con un curso recién salido del profesor Fernando Herrera.</p>

<P>Mi intención este mes es ir tocando Vue sin dejar de lado Angular y si por desgracia estoy sin trabajo de programador, retomar ReactJs o volver a aprender c#/Java</P>