<h3>Agosto 2021</h3>

<p>En agosto sigo haciendo pequeñas mejoras en lá página mi aplicación del Curriculum</p>

<p>He creado una aplicación de una empresa de esas que buscan personal: <a href="https://tundraapp.herokuapp.com/"><strong>Tundra</strong></a>. El día 7 hice una primera versión de producción para que, si alguien la ve, al menos pueda valorar mi trabajo.</p>
<p> <strong>Tundra</strong> esta creada con un html5 full responsive gratuito sobre una apli de Angular con backend de NodeJs y Mongo de base de datos. La idea de esta aplicación es la de afianzar conocimientos, practicar e ir mejorando. Al empezar un nuevo
    curso de Vue, necesito recordar Angular por si sale alguna oportunidad laboral.</p>
<p>El Angular tiene sus servicios, modelos, componentes. Cuenta con su login que se irá mejorando y Guards. Cuenta con peticiones http y el uso de Rxjs. Las imágenes son de Firebase (storage propio)</p>
<p>La parte de backend es más básica, apenas con unos modelos, rutas y controladores, peticiones post para el envío de mensajes, get para recibir información de la base de datos y algún Middleware</p>
<p>Aun así la web se ve bonita, y aunque seguiré trabajando en ella, estoy orgulloso de lo que de momento hay.</p>
<hr>
<p><strong>Actualización a día 15 Agosto</strong></p>
<p> De ver como se hacía un juego de adivinar Pokémon del curso de Vue, me animé a lanzar una versión para Angular para hacer esa app con Typescript y Rxjs</p>
<p>El juego trata de adivinar el pokemon. Esta hecho en base a observables a una api externa de pokemon y a otra página con sus imágenes.</p>
<p>Aunque a día 15 esté funcional creo que debo darle una mano a la depuración y me gustaría también hacer algunos cambios. </p>
<p> La tengo subida a github y a netlify <strong><a href="https://pokemongame-angular.netlify.app/">Pokemon Game</a></strong></p>
<p>Respecto a los cursos que voy haciendo de forma paralela, estoy con uno de Javascript moderno y he retomado Vue con un curso recién salido del profesor Fernando Herrera.</p>