<div class="row">
    <div class="col-12">
        <h3>{{titulo}}</h3>
        <div style="display: block">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
        </div>
    </div>
</div>
<!-- <h5>{{tituloInput}} - {{numero}}</h5> -->
<!-- <input [disabled]="sinInput" type="number" name="entrevista" class="form-control" #entrevista placeholder="Añadir" [(ngModel)]="numero"> -->