<h3>
    Julio 2021</h3>
<p>En julio conseguí terminar el curso de Angular avanzado y el de NodeJs de Udemy</p>

<p>Gracias a estos cursos conseguí aprender a usar MEAN (Mongo, Express, Angular, NodeJs). Hice mi web Curriculum/Portfolio, hice también otra aplicación con auths, JWT, gráficas...</p>

<p>Primero hice una apliación de nombre CodeInc donde tengo Google Sign-in, logins, JWT, CRUD... hecha con Angular, Node, Mongo y desplegada en Heroku </p>

<p>Hice paralelamente para practicar con los autentificadores, una simple aplicación con MEAN basada en un simple login</p>

<p>Por último hice la aplicación de mi Curriculum/Portfolio. Hecha con Angular donde uso:</p>
<ul>
    <li>Servicios, routing, módulos personalizados</li>
    <li>Gráficas, routerlinks, routerOutlet</li>
    <li>Con la tabla de trabajos hago uso del método GET a una api REST propia y ngFor para sacar los datos</li>
    <li>Cambios de tema desde Angular con su servicio propio</li>
    <li>Formulario reactivo, uso de POST para el envio de mensajes a mi base de datos</li>
    <li>Hago uso del sweetAlert para los mensajes de confirmación del formulario</li>
    <li>La web es full responsive</li>
    <li>Uso de NodeJs como backEnd, Mongo como DB</li>
    <li>Las imágenes las subí a un storage de Firebase</li>
</ul>

<p>También hice una aplicación con Angular y firebase para el uso de la RealTime Database y una gráfica para que, en tiempo real, a traves de un botón, se pueda modificar una gráfica en la interfaz sin tener que recargar la página. Esta parte si es bastante
    complicada, por el hecho de cambiar el backEnd a firebase y de que ahora es de "pago"</p>

<p>Por último estuve aprendiendo a usar NodeJs con Mysql con squelize (Me gustó, tengo que practicarlo)</p>





<p> Respecto a la contratación de Accenture, no fui seleccionado, no se saben razones. Pero puede ser una lotería, las notas de todos eran todas altas porque los exámenes los hacían con los test previamente resueltos, los ejecicios te los daban resueltos,
    solo para hacer copia/pega con lo cual, todos sacamos buena nota independientemente de si sabía lo que estaba haciendo o no. A la hora de contratar no se miraron títulos ni experiencia previa, asi que entró gente de forma aleatoria.</p>