<h3>Junio 2021</h3>

<p>Junio fue un mes extraño, terminé por un lado el curso de Cénec Málaga, una pena todo sea dicho. Tocamos un poco de Angular, ReactJs, NodeJs, todo de forma muy básica, explicado deprisa y con continúos parones por problemas de que a la gente no le funcionaban
    las cosas</p>

<p>Un poco decepcionado con el curso, no profundizamos en nada, mucho html y css desde 0, poco Angular, casi nada ReactJs y un suspiro de NodeJs, imposible dar un curso que de golpe da HTML,CSS, Nodejs (+pug/jade), Java, Javascript, Angular, ReactJs... en
    6 semanas con alumnos que no tenían una titulación o conocimientos mínimos.</p>

<p>Al ver que con el curso no iba a mejorar mis habilidades con Angular, seguí paralelamente haciendo el curso de Angular de Udemy junto al nuevo de Angular de Píldoras Informáticas</p>

<p>Supuestamente teníamos un mes para que nos "cogieran" para Accenture, yo seguí estudiando y echando cvs. Terminé el curso de Angular, continué con el avanzado</p>